
django_test/quiz/__pycache__/admin.cpython-37.pyc
django_test/db.sqlite3
django_test/db.sqlite3
django_test/django_test/__pycache__/urls.cpython-37.pyc
django_test/quiz/__pycache__/admin.cpython-37.pyc
*.sqlite3
django_test/quiz/__pycache__/admin.cpython-37.pyc
django_test/quiz/__pycache__/admin.cpython-37.pyc
